# Dependencies
node_modules/

# Build
dist/
coverage/
playwright-report/

# Test
test-results/

# Cache
.cache/
.temp/
tmp/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Generated reports
*.xlsx

# Playwright traces
*.zip
*.trace

# Screenshots
*.png
*.jpg
*.jpeg